* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}


.header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 70px;
    background-color: white;

}

.header-container {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding-left: 30px;
    padding-right: 30px;
}

.left-header,
.right-header {
    display: flex;
}

.list-header {
    display: flex;
    align-items: center;
    margin-left: 50px;
    gap: 22px;
    list-style: none;
}

.header a {
    text-decoration: none;
    color: black;
}

.bottom-general {
    background-color: #1062fc;
    color: white !important;
    padding: 10px 15px;
}