* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
     
}

/*Header Section*/
.header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 70px;
    background-color: white;

}

main {
    padding-top: 70px;
    padding-bottom: 50px;
}

.header-container {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding-left: 30px;
    padding-right: 30px;
}

.left-header,
.right-header {
    display: flex;
}

.list-header {
    display: flex;
    align-items: center;
    margin-left: 20px;
    gap: 22px;
    list-style: none;
}

.header a {
    text-decoration: none;
    color: black;
}

.bottom-general {
    background-color: #1062fc;
    color: white !important;
    padding: 10px 15px;
    display: inline-block;
}

/*Hero Section*/
.hero-section {
    background-color: #b3cfe5;    
}

.hero-container {
    display: flex;
    margin: 0 auto;
    width: 70%;
    flex-direction: column;
    gap: 40px;
}

.h1-text {
    font-size: 82px; 
    padding-top: 70px; 
}

.right-column img {
    max-width: 90%;
}

.column-text-image {
    display:flex ; 
    justify-content: space-between;
    gap: 40px; 
}

.right-column {
    flex-basis: 81%;
}

.left-column {
    flex-basis: 29%;   
}

.p-text {
    margin-bottom : 30px; 
    line-height: 1.7;
}

.left-column .bottom-general {
    margin-bottom: 30px;
    text-decoration: none;
}

.fa-arrow-down {
    font-size: 35px; 
    cursor: pointer;
}

.fa-arrow-down:active {
    color: #1062fc;
}


/* Sezione dei piani */

.plans-header {
    padding-top: 150px;
    display: flex ; 
    width: 60%; 
    margin: 0 auto ; 
    flex-direction: column;
    
}

.plans-header h2 {
    font-size : 50px; 
}

.check-container {
    padding-top : 50px;
    display: flex;
    gap: 40px;
    font-size: 15px; 
}

.option-check {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer; 
}

.circle {
    width: 18px;
    height: 18px;
    border: 2px solid #0061ff;
    border-radius: 50%;
}


.plans-row {
    display: flex;
    margin: 0 auto;
    gap: 40px; 
    width: 60% ; 
    padding-top: 50px;
    padding-bottom: 50px;
}


.plans-card {
    width : calc(100% /3 );
    border: 1px solid #dcdcdc;
    
}

.full-width-card {
    display: flex;
    width: 60%; 
    margin: 0 auto; ;
    
    border: 1px solid #dcdcdc;
    flex-direction: column;
    
}

.full-width-card .plan-tag {
    display: block;
    text-align: center;
    padding: 6px 0;
    font-size: 13px;
    border-bottom: 1px solid #dcdcdc;
}

.full-width-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 40px;
    gap: 30px;
}


.option-check.selected .circle {
    background-color: #0061ff;;
}

.check-container span {
    color: black ;
}

.full-width-left {
    flex-basis:70%;
}

.full-width-right {
    flex-basis: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
/* Piano Details*/

.full-width-card .plan-tag {
    font-size : 20px; 
}

.full-width-left .plan-name {
    padding-bottom: 20px;
    margin-left: -30px;
}

.full-width-left p {
    margin-top: 50px;
}

.full-width-right .bottom-general{
    text-decoration: none;
}

.plan-tag {
    font-size: 20px; 
    color: black ; 
    display: block;
    text-align: center;
    border-bottom: 1px solid #eee;
    padding: 10px 0; 
}

.plan-name {
    font-size: 25px; 
    padding-top :30px; 
    padding-left : 30px; 
}

.plan-price {
padding-top :30px; 
    padding-left : 30px; 
}

.plan-price-month  {
    font-size: 14px;
    color: #555;
    padding-left : 30px; 
    padding-top : 10px; 
}

.plan-list {
    list-style: none; 
    padding-top : 50px; 
   
    padding-left : 30px;
    
}

.plan-list li {
    margin-bottom: 30px;
    margin-right: 20px;
    font-size: 17px;
}

.plans-card .bottom-general {
    text-decoration: none;
    margin-top: 25px; 
    margin-left : 30px; 
    padding : 12px 30px;
    
}

.plan-link {
    margin-top: 35px; 
    margin-left : 30px; 
    
}

.plan-point-salient h4 {
    margin-left: 30px; 
    margin-top: 70px;
}

.plan-point-salient .fa-check {
    font-size: 18px;
    text-align: start;
    color: #0061ff;
}


/* Section image-text */
.section-image-text {
    padding-top: 200px; 
    background-color: white;
    display: flex;
    margin: 0 auto;
    width: 60%;
    gap: 40px;
}

.section-image-text .right-column {
    flex-basis: 65%;
}

.section-image-text .left-column{
    flex-basis: 35%;  
    margin-left: -150px; 
}

.section-image-text h4 {
    font-size: 27px;
    padding-top: 90px; 
    padding-bottom: 30px;
}

.section-image-text .bottom-general {
  background-color: white;
  color: black !important;
  border: 1px solid black;  
}

.section-image-text .image-partners {
  max-width: 80%;   
   
}

/*Card Section*/

.business-title {
    padding-top: 150px;
    width: 60%;
    margin: 0 auto;
    
    font-size: 40px;
}

.row-flex {
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex; 
    margin : 0 auto ; 
    flex-wrap: wrap;
    gap: 20px; 
    width : 60%; 
}

.card {
    width : calc(100%  / 3 - (40px /3));
   
}

.row-flex img {
    max-width: 100%;
}

.card h4 {
    font-size: 25px;
    line-height: 1.5;
    padding-bottom: 20px;
}

.business-clients-container {
    margin: 0 auto ;
    width: 60%; 
    padding-top: 50px;
   
    
}

.business-clients-title {
    font-size: 40px;
   max-width: 700px;
}

.business-clients-container .bottom-general {
    color: #1062fc !important;
    background-color: white;
    padding-top: 50px;
    
}

/*-- Footer -- */
.footer {
    margin-top: 150px; 
    width: 100%;
    height : 600px; 
    background-color: black;
}

.footer-container {
    display:flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 70%; 
}

.footer-col {
    margin-top: 100px;
    color: white;  
}

.footer-text {
    font-size: 25px;
    padding-bottom: 30px;
}

.link-footer {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
    line-height: 2;
    font-size: 18px;
}

.ita-box {
display: flex;
width : 70%; 
margin: 0 auto; ;
margin-top: 50px;
gap: 10px; 
align-items: center;

}
span {
    color: white; 
}
.fa-arrow-up {
    color: white;
}

.white-bar {
    margin-top: 100px;
    width: 7%;
    height: 1px;
    background-color: white;
    padding-right: 50px;
    margin-left: 280px;
}