* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
     
}

/*Header Section*/
.header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 70px;
    background-color: white;

}

main {
    padding-top: 70px;
    padding-bottom: 50px;
}

.header-container {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding-left: 30px;
    padding-right: 30px;
}

.left-header,
.right-header {
    display: flex;
}

.list-header {
    display: flex;
    align-items: center;
    margin-left: 20px;
    gap: 22px;
    list-style: none;
}

.header a {
    text-decoration: none;
    color: black;
}

.bottom-general {
    background-color: #1062fc;
    color: white !important;
    padding: 10px 15px;
    display: inline-block;
}

/*Hero Section*/
.hero-section {
    background-color: #b3cfe5;    
}

.hero-container {
    display: flex;
    margin: 0 auto;
    width: 70%;
    flex-direction: column;
    gap: 40px;
}

.h1-text {
    font-size: 82px; 
    padding-top: 50px; 
}

.right-column img {
    max-width: 90%;
}

.column-text-image {
    display:flex ; 
    justify-content: space-between;
    gap: 40px; 
}

.right-column {
    flex-basis: 81%;
}

.left-column {
    flex-basis: 29%;   
}

.p-text {
    margin-bottom : 30px; 
    line-height: 1.7;
}

.left-column .bottom-general {
    margin-bottom: 30px;
    text-decoration: none;
}

.fa-arrow-down {
    font-size: 35px; 
}


/* Section image-text */
.section-image-text {
    padding-top: 100px; 
    background-color: white;
    display: flex;
    margin: 0 auto;
    width: 60%;
    gap: 40px;
}

.section-image-text .right-column {
    flex-basis: 65%;
}

.section-image-text .left-column{
    flex-basis: 35%;  
    margin-left: -150px; 
}

.section-image-text h4 {
    font-size: 27px;
    padding-top: 90px; 
    padding-bottom: 30px;
}

.section-image-text .bottom-general {
  background-color: white;
  color: black !important;
  border: 1px solid black;  
}

.section-image-text .image-partners {
  max-width: 80%;   
   
}

/*Card Section*/

.business-title {
    padding-top: 150px;
    width: 60%;
    margin: 0 auto;
    
    font-size: 40px;
}

.row-flex {
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex; 
    margin : 0 auto ; 
    flex-wrap: wrap;
    gap: 20px; 
    width : 60%; 
}

.card {
    width : calc(100%  / 3 - (40px /3));
   
}

.row-flex img {
    max-width: 100%;
}

.card h4 {
    font-size: 25px;
    line-height: 1.5;
    padding-bottom: 20px;
}

.business-clients-container {
    margin: 0 auto ;
    width: 60%; 
    padding-top: 50px;
   
    
}

.business-clients-title {
    font-size: 40px;
   max-width: 700px;
}

.business-clients-container .bottom-general {
    color: #1062fc !important;
    background-color: white;
    padding-top: 50px;
    
}

/*-- Footer -- */
.footer {
    margin-top: 150px; 
    width: 100%;
    height: 500px;
    background-color: black;
}

.footer-container {
    display:flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 70%; 
}

.footer-col {
    margin-top: 100px;
    flex: 1;           /* OGNI COLONNA PRENDE 1/5 ESATTO */
    color: white;
    
    
    
}

.footer-text {
    font-size: 25px;
    padding-bottom: 30px;
}

.link-footer {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
    line-height: 2;
}